{extend name="public/base" /}

{block name="body"}
<h2>添加租售信息</h2>
<form action="{:url('add')}" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-item">
        <label class="item-label">所属</label>
        <select name="category" style="width: 400px">
            <option value="0">出租</option>
            <option value="1">出售</option>
        </select>
    </div>
    <div class="form-item">
        <label class="item-label">简介<span class="check-tips"></span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="title">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">描述<span class="check-tips"></span></label>
        <div class="controls">
            <textarea name="content" style="width: 395px" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">图片</label>
        <div class="controls">
            <input type="file" name="img">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">价格<span class="check-tips"></span></label>
        <div class="controls">
            <input type="number" class="text input-large" name="price">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">联系人<span class="check-tips"></span></label>
        <div class="controls">
            <input type="text" name="name" class="text input-large">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">联系电话<span class="check-tips"></span></label>
        <div class="controls">
            <input type="tel" name="tel" class="text input-large">
        </div>
    </div>
    <div class="form-item">
        <button class="btn submit-btn ajax-posts" id="submit" type="submit" target-form="form-horizontal">确 定</button>
        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
</form>
{/block}
{/block}