{extend name="public/base" /}

{block name="body"}
<h2>编辑活动信息</h2>
<form action="{:url('update')}" method="post" class="form-horizontal">
    <div class="form-item">
        <label class="item-label">简介<span class="check-tips"></span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="title" value="{$zushou.title}">
        </div>
    </div>
    <input type="hidden" class="text input-large" name="id" value="{$zushou.id}">
    <div class="form-item">
        <label class="item-label">详情<span class="check-tips"></span></label>
        <div class="controls">
            <textarea name="content" class="textarea" cols="30" style="width: 390px" rows="10">{$zushou.content}</textarea>
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">价格<span class="check-tips"></span></label>
        <div class="controls">
            <input type="number" class="text input-large" name="price" value="{$zushou.price}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">图片</label>
        <div class="controls">
            <input type="file" name="img">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">联系人<span class="check-tips"></span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="name" value="{$zushou.name}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">电话<span class="check-tips"></span></label>
        <div class="controls">
            <input type="tel" class="text input-large" name="tel" value="{$zushou.tel}">
        </div>
    </div>
    <div class="form-item">
        <button class="btn submit-btn ajax-posts" id="submit" type="submit" target-form="form-horizontal">确 定</button>
        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
</form>
{/block}
{/block}