{extend name="public/base" /}
{block name="body"}

<div class="main-title">
    <h2>活动详情</h2>
</div>
<div class="data-table table-striped">
    <table>
        <thead>
        <tr><td><h3>ID</h3></td></tr>
        <tr><td>{$zushou['id']}</td></tr>
        <tr><td><h3>简介</h3></td></tr>
        <tr><td>{$zushou['title']}</td></tr>
        <tr><td><h3>价格</h3></td></tr>
        <tr><td>{$zushou['price']}</td></tr>
        <tr><td><h3>描述</h3></td></tr>
        <tr><td>{$zushou['content']}</td></tr>
        <tr><td><h3>联系人</h3></td></tr>
        <tr><td>{$zushou['name']}</td></tr>
        <tr><td><h3>电话</h3></td></tr>
        <tr><td>{$zushou['tel']}</td></tr>
        <tr><td><h3>创建时间</h3></td></tr>
        <tr><td>{$zushou['create_time']|date='Y-m-d',###}</td></tr>
    </table>
</div>
{/block}